<div class="login">
  <div class="login_top">
    <p class="login_p"><%= link_to("管理者ログイン", new_admin_session_path, {class: "p-2 text-dark"}) %></p>
    <p class="login_p"><%= link_to("ログイン", new_user_session_path, {class: "p-2 text-dark"}) %></p>
    <p class="login_p"><%= link_to("新規登録", new_user_registration_path, {class: "btn btn-outline-primary"}) %></p>
  </div>
</div>