
<p><%= @nickname %></p>

<h2>お気に入りリスト</h2>
  <% @bookmarks.each do |b| %>
    <% post = Post.find(b.post_id) %>
          <div class="name3"><%= link_to post.name, post_path(post) %></div>
          <%= image_tag post.images.first.image.url , class: "image_list-size" %>
  <br />
  <% end %>