%h2 お気に入りリスト
- @bookmarks.each do |b| 
- post = Post.find(b.post_id)
  = link_to post.name, post_path(post), data: {"turbolinks": false}
  = image_tag post.images.first.image.url , class: "image_list-size"