.info
  .info_title
    Favoritestoreとは
  .info_content
    Favoritestoreは、おしゃれで美味しいお店を探せる飲食店紹介サイトです。エリアや特徴から探したり、口コミや写真を投稿してあなたのグルメ知識を共有したり、あなたのお気に入りのお店を見つけてみてください。
  .info_title
    Favorite storeをつくったきっかけ
  .info_content
    私自身、美味しいお店を探したり、食べたりするのが好きなため、よく検索したり行ってみたりしてました。また、コロナウイルスの影響もあり、少しでも、飲食店の応援になればと思いで作りました。
  .info_title
    開発者
  .info_content
    %a{ href: 'https://twitter.com/onoblog',target: "_blank",rel: "noopener"}
      @onoblog
.footer-info