.search_index
  .search_index-post
    - @search_posts.each do |post|
      .tag_store
        .tag_store-list
          .tag_image
            = image_tag post.images.first.image.url , class: "search_image"
          = link_to "#{post.name}", post_path(post) , data: {"turbolinks": false}
          = post.liked_users.count
