<table>
  <tbody>
    <% @search_posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %></td>
      </tr>
    <% end %>
  </tbody>
</table>