// index

.image__section {
  height: 400px;
  margin-bottom: 5rem;
  &--size {
    width: 100%;
    height: 400px;
  }
}


.tag__section {
  border: 1px solid gray;
  height: 15%;
  width: 68%;
  margin: 0 auto;
  text-align: center;
  &--search {
    .tag-title {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      font-size: 24px;

    }
    .store_name {
      width: 300px;
      text-align: center;
      margin: 0 auto;
      &-size {
        display: inline-block;

      }
    }
    .form_check-line {
      display: inline-flex;
      align-items: center;
    }
    .form_check-sub {
      position: relative;
      padding-left: 1.25rem;
    }
    .check_box {
      margin-bottom: 30px;
      display: inline-block;
      width: 80%;
    }
    .submit {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .interested {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .space_submit {
      margin-top: 30px;
    }
    .check-group .input {
      display: none;
    }
    .check-group .label {
      cursor: pointer;
      padding: 5px 10px;
      float: left;
      border: solid 1px #aaa;
      margin-left: -1px;
      background: #eee;
      border-radius: 10px;
    }
    // .check-group .input:checked+.label {
    //   color: #fff;
    //   background: #C3C3C3;
    // }
    .checked {
      color: #fff;
      background: red;
    }
  }
}



.all_store {
  height: 350px;
  width: 100%;
  margin-top: 100px;
  &-recommend {
    margin: 0 auto;
    height: 400px;
    width: 85%;
    .space {
      margin: 0 10%;
      background-color:lightgray;
      border-radius: 10px;
      .left {
      }
      .store_adjust {
        margin-bottom: 20px;
      }
      .right {
        padding-top: 30px;
      }
      .separate_store {
        height: 180px;
        width: 17%;
        position: relative;
        background-color: white;
        display: inline-block;
        margin-left: 6.3%;
        border-radius: 10px;
        &-list {
          cursor:pointer;
          .image_list {
            height: 115px;
            &-size {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }
          .show_detail {
            display: block;
            margin-top: 6%;
            text-align: right;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.inline {
  display: inline-block;

}

.show_info {
  text-align: center;
  &-content {
    display: inline-block;
  }
}

.adjust_down {
  margin-bottom: 7%;
}

.footer-adjust {
  margin-bottom: 70px;
}

.footer {
  margin-top: 100px;
  clear: both;
  background-color: lightgray;
  
  height: 200px;
  width: 100%;

  &_nav {
    text-align: center;
    margin-top: 20px;
    line-height: 100px;
    .footer_list {
      display: inline-block;
      padding: 0 40px;
      text-decoration: none;
      color: black;
    }
  }
  &_copy {
    text-align: center;
  }
}

// show------------------

.show_image {
  width: 80%;
  height: 30%;
}

.post_show_index {
  .left_side {
    height: 100%;
    width: 65%;
    float: left;
    width: 65%;
    &-space {
      margin-left: 25%;
      margin-top: 50px;
      &-img {
        width: 60%;
        
      }
      .all_photo {
        margin-top: 30px;
      }
      .show_title {
        margin-top: 40px;
        font-size: 30px;
      }
      .star_average {
        margin-top: 30px;
      }
      .post_top_info {
        margin-top: 8px;
        display: inline-block;
        margin-right: 3%;
      }
      .post_relative_tag {
        margin-top: 8px;
        .text-deco {
          text-decoration: none;
          color: black;
        }
      }
      .side_by_side {
        display: inline-block;
      }
      .text-deco {
        text-decoration: none;
      }
      .like-btn {
        width: 25px;
        height: 30px;
        font-size: 25px;
        color: #e54747; 
        margin-left: 20px;
      }
      .unlike-btn {
        width: 25px;
        height: 30px;
        font-size: 25px;
        color: #e54747;
        margin-left: 20px;
      }
      .bookmark-btn {
        width: 23px;
        height: 30px;
        font-size: 25px;
        color: lightskyblue; 
        margin-left: 20px;
      }
      .unbookmark-btn {
        width: 23px;
        height: 30px;
        font-size: 25px;
        color:lightskyblue;
        margin-left: 20px;
      }
      .show_container {
        width: 50%;
        margin-top: 40px;
        .form_space {
          margin-bottom: 10px;
        }
        .btn_adjust {
          margin-top: 20px;
        }
      }
      .comments {
        margin-top: 30px;
        width: 35%;
        .comment_border {
          border: 1px solid gray;
        }
      }
      .info {
        margin-top: 50px;
      }
      .another_info {
        display: block;
        margin-top: 10px;
        &-title1{
          display: inline-block;
          margin-right: 30%;
        }
        &-title2 {
          display: inline-block;
          margin-right: 27%;
        }
        &-title3 {
          display: inline-block;
          margin-right: 20%;
        }
      }
    }

  }

  .right_side {
    height: 100%;
    width: 35%;
    float: right;
    
    .first_tag {
      margin-top: 30px;
      .tag_block {
        display: block;
      }
    }
  }
}


// search ---------------

.search_index {
  height: 100%;
  width: 100%;
  margin-top: 70px;
  &-post {
    width: 70%;
    background-color: gray;
    margin: 0 auto;
    padding-bottom: 3%;
    border-radius: 10px;
    .tag_store {
      border-radius: 10px;
      height: 160px;
      width: 16%;
      background-color: white;
      display: inline-block;
      margin-left: 6.7%;
      margin-top: 4%;
      &-list {
        .tag_image {
          height: 120px;
          .search_image {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
