
.image__section {
  height: 400px;
  margin-bottom: 5rem;
  &--size {
    width: 100%;
    height: 400px;
  }
}


.tag__section {
  border: 1px solid gray;
  margin: 0 auto;
  &--search {
    .tag-title {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        width: 700px;
        font-size: 24px;
    }
    .store_name {
      width: 300px;
      text-align: center;
      margin: 0 auto;
      &-size {
        display: inline-block;

      }
    }
    .form_check-line {
      display: inline-flex;
      align-items: center;
    }
    .form_check-sub {
      position: relative;
      padding-left: 1.25rem;
    }
    .check_box {
      margin-bottom: 30px;
    }
    .submit {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .interested {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .space_submit {
      margin-top: 30px;
    }
  }
}

.all_store {
  height: 350px;
  width: 100%;
  margin-top: 100px;
  &-recommend {
    margin: 0 auto;
    height: 400px;
    width: 85%;
    .space {
      margin: 0 10%;
      background-color: gray;
      .left {
      }
      .store_adjust {
        margin-bottom: 20px;
      }
      .right {
        padding-top: 30px;
      }
      .separate_store {
        height: 230px;
        width: 17%;
        position: relative;
        background-color: white;
        display: inline-block;
        margin-left: 6.3%;
        &-list {
          
          .image_list {
            height: 115px;
            &-size {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.footer-adjust {
  margin-bottom: 70px;
}

.footer {
  background-color: gray;
  margin-top: 30px;
  height: 200px;
  width: 100%;
  &_nav {
    text-align: center;
    margin-top: 70px;
    .footer_list {
      display: inline-block;
      padding: 0 40px;
    }
  }
  &_copy {
    text-align: center;
  }
}

